.main{
    background: rgb(216,204,167);
    
}

.banner{
    width:100vw;
}

.invalid{
    color:red;
}

.breadcrumb{
    background: rgb(216,204,167);
    
}

.breadcrumb-item + .breadcrumb-item::before {
    color: black;
    content:">> "
 }

.vote_container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 11vh;
}

.upvote{
    height: 3rem;
}

.downvote{
    height:3rem;
}

 footer{
     height: 20rem;
 }

 .forum{
     min-height: 100vh;
     background: rgb(216,204,167);
 }