* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

.main {
  background: #d8cca7; }

.banner {
  width: 100vw; }

.invalid {
  color: red; }

.breadcrumb {
  background: #d8cca7; }

.breadcrumb-item + .breadcrumb-item::before {
  color: black;
  content: ">> "; }

footer {
  height: 20rem; }

.nav_btn {
  font-size: 1rem;
  border-radius: 3px;
  background: transparent;
  height: 1.5625rem;
  width: 65px;
  cursor: pointer;
  transition: color .2s;
  font-weight: 500;
  outline: none; }

.nav_user {
  margin-left: auto; }

.login {
  border: 1px solid rgba(0, 195, 255, 0.75);
  color: rgba(0, 195, 255, 0.75); }
  .login:hover {
    color: #00c3ff; }

.signup {
  border: 1px solid rgba(20, 255, 20, 0.75);
  color: rgba(20, 255, 20, 0.75);
  overflow: hidden; }
  .signup:hover {
    color: #14ff14; }

.bg_main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1; }

.fb_main {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  background: #d8cca7; }

.fb_list {
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  background: #e2d6b1;
  width: 60rem; }

.fb_body {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  padding-left: 1rem; }

.fb_desc {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fb_title {
  font-weight: 700;
  font-size: 1.5rem;
  color: black; }
  .fb_title:hover {
    color: #23394a; }

.fb_subtitle {
  color: black;
  padding-top: 4px; }

.even {
  background: #ece0bb;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.fp {
  margin: 0 7rem; }
  .fp_title {
    color: white; }
  .fp_post {
    display: flex;
    flex-direction: column;
    background-image: url("../images/card-background.jpg"); }
  .fp_container {
    display: flex;
    flex-direction: row; }
  .fp_profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    min-height: 40vh;
    min-width: 15vw;
    align-items: center;
    color: black; }
  .fp_comment {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    min-height: 40vh;
    min-width: 65vw;
    color: black; }
    .fp_comment_detail {
      padding: 5px;
      margin: 20px; }
    .fp_comment_date {
      background: transparent; }
  .fp_create_textarea {
    background: white;
    margin-left: 3rem;
    margin-top: 3rem;
    height: 10rem;
    width: 90%; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.got_main {
  background: #2d3943; }

.got_house_title {
  font-family: 'MedievalSharp', cursive;
  font-weight: 600;
  font-size: 3.5rem; }

.got_house_desc {
  font-family: inherit;
  font-size: 1rem;
  color: white;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333; }

.view {
  height: 100vh; }

.quote {
  font-weight: 500; }

.stark {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }

.lannister {
  text-shadow: -1px -1px 0 #cb2b57, 1px -1px 0 #cb2b57, -1px 1px 0 #cb2b57, 1px 1px 0 #cb2b57; }

.targaryen {
  text-shadow: -1px -1px 0 #ae1823, 1px -1px 0 #ae1823, -1px 1px 0 #ae1823, 1px 1px 0 #ae1823; }

.tyrell {
  text-shadow: -1px -1px 0 #edd149, 1px -1px 0 #edd149, -1px 1px 0 #edd149, 1px 1px 0 #edd149; }

.greyjoy {
  text-shadow: -1px -1px 0 #f5e58f, 1px -1px 0 #f5e58f, -1px 1px 0 #f5e58f, 1px 1px 0 #f5e58f; }

.tully {
  text-shadow: -1px -1px 0 #ce3e55, 1px -1px 0 #ce3e55, -1px 1px 0 #ce3e55, 1px 1px 0 #ce3e55; }

.arryn {
  text-shadow: -1px -1px 0 #8abfd0, 1px -1px 0 #8abfd0, -1px 1px 0 #8abfd0, 1px 1px 0 #8abfd0; }

.baratheon {
  text-shadow: -1px -1px 0 #dcc4a4, 1px -1px 0 #dcc4a4, -1px 1px 0 #dcc4a4, 1px 1px 0 #dcc4a4; }

.martell {
  text-shadow: -1px -1px 0 #e3570c, 1px -1px 0 #e3570c, -1px 1px 0 #e3570c, 1px 1px 0 #e3570c; }

.frey {
  text-shadow: -1px -1px 0 #1f233f, 1px -1px 0 #1f233f, -1px 1px 0 #1f233f, 1px 1px 0 #1f233f; }
