* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.main{
    background: rgb(216,204,167);
}

.banner{
    width:100vw;
}

.invalid{
    color:red;
}

#footer{
    display:block;
    background: rgb(38,41,52);
    height:7rem;
}