* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.forum{

}

.main{
    background-image: url('../../src/images/main.png')
}

#footer{
    display:block;
    background: rgb(38,41,52);
    height:7rem;
}