.story{
    &_bg{
        height:100vh;
        width: 100vw;
        position:fixed;
        z-index: -2;
    }

    &_black{
        z-index: -1;
        height: 100vh;
        width: 100vw;
        position:fixed;
        opacity: 0.6;
    }

    &_season{
        color:white;
        margin:0 20rem 5rem 20rem;

        h2{
            margin-bottom:1.5rem;
        }
    }

    &_first{
        padding-top:2rem;
    }
}