.fp{
   margin: 0 7rem;
   
   

    &_title{
    }

    &_post{
        display: flex;
        flex-direction: column;
        background-image: url('../images/card-background.jpg');
    }
    &_container{
        display:flex;
        flex-direction: row;
    }

   &_profile{
       display: flex;
       flex-direction: column;
       margin-bottom: 1.5rem;
       min-height: 40vh;
       min-width: 15vw;
       align-items: center;
       color:black;
       
   }

   &_comment{
       position: relative;
       display: flex;
       flex-direction: column;
       background:rgba(255,255,255, 0.4);
       min-height: 40vh;
       min-width: 65vw;
       color: black;

       & p{
        display:flex;
        flex-direction: row;
       }

       &_detail{
           padding: 5px;
           margin: 20px;
           display: inline-block !important;
       }

       &_date{
           background: transparent;
           transform: translateX(13.5rem);
           width:75%;
       }

   }

   &_create{

        display:flex;
        flex-direction: row;
        position:relative;
        padding-bottom:1rem;
        &_textarea{
            background:white;
            margin-left: 3rem;
            margin-top: 3rem;
            width: 90%;
            
        }

        &_btn{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-content: flex-end;
        }
        &_emote{
            height:3rem;
            width:3rem;
        }

        &_submit{
            height:3rem;
            width:3rem;
        }
        & p{
            display:flex;
            flex-direction: row;
            }
        }

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ql-container{
      height: 6rem;
  }