.fb{

    &_main{
        display:flex;
        flex-direction:column;
        margin:2.5rem 2.5rem 0 2.5rem;
        background: rgb(216,204,167);
    }

    &_list{
        border-radius: 5px;
        box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
        background: rgb(226,214,177);
        width: 60rem;
        
    }

    &_body{
        display:flex;
        flex-direction: row;
        margin: 1rem 0;
        padding-left: 1rem;
    }
    &_desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    &_icon{
        
    }
    &_title{
        font-weight:700;
        font-size: 1.5rem;
        color: black;

        &:hover{
            color: rgb(35, 57, 74);
        }
    }

    &_subtitle{
        color: black;
        padding-top: 4px;
    }

    &_heading{
        display:flex;
        align-items: center;
        width: 60rem;

    }

    &_create{
        margin-left:auto;
        margin-right: 1rem;
    }

}

.even{
    background: rgb(236,224,187);
    padding-top: 1rem;
    padding-bottom: 1rem;
}