.nav{

    
    &_btn{
        @include userBtn
    }

    &_user{
        margin-left: auto;
    }
    
}

.login{
    border: 1px solid rgba(0, 195, 255, .75);
    color: rgba(0, 195, 255, .75);
        &:hover{
            color:rgba(0, 195, 255, 1);
        }
}

.logout{

}

.signup{
    border: 1px solid rgba(20, 255, 20, .75);
    color: rgba(20, 255, 20, .75);
    overflow:hidden;
    &:hover{
        color:rgba(20, 255, 20, 1);
    }

}
